<div class="user-container debug">
  <div class="inner-container debug">
    <p>Yweet</p>
    <div class="tweet-form">
      <%= render 'shared/tweet_form' %>
    </div>
    <%= link_to "Logout", logout_path, method: :delete, class: :logout %>

  </div>
</div>



