<div class="user-container debug">
  <div class="inner-container debug">
    <%= link_to "Yweet", tweet_path %>
    <div class="tweet-form">
      <%= render 'shared/tweet_form' %>
    </div>
    <%= link_to "Logout", logout_path, method: :delete %>

  </div>
</div>



