<div>
  <%= form_tag(tweet_path, method: "get") do %>
    <%= label_tag("Yodafy your Tweet") %>
    <%= text_field_tag :tweet, nil,  :required => true %>
    <%= submit_tag("Yweet") %>
  <% end %>


</div>