<div class="container ">
  <div class="welcome ">
    <h1>Yweet</h1>
    <h3>Now you can Tweet like Yoda</h3>
  </div>
  <%= link_to image_tag("sign-in.png"), "/auth/twitter", :class => "sign-up", :method => "get"  %>
</div>