<div class="container debug">
  <div class="welcome debug">
    <h1 class="debug">Yweet</h1>
    <h3 class="debug">Now you can Tweet like Yoda</h3>
  </div>
  <div class="sign-up-form">
    <%= link_to image_tag("sign-in.png"), "/auth/twitter", :class => "sign-up debug" %>
  </div>
</div>