// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image : url("http://i.giphy.com/WbheD0Y54pBPW.gif");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;

}


.user-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: auto;
  height: auto;


  padding: 5%;
  color: white;
  text-align: center;
}

.inner-container {
  color:#CFE6C8;
  text-shadow: 2px 2px #223F4A;
}


.tweet {
  -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
  background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
  background-color:#77d42a;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #268a16;
  display:inline-block;
  color:#306108;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #aade7c;
}

.logout {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
  background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
  background-color:#f9f9f9;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#666666;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}

.inner-container {

  /*box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);*/
}


/*.debug {
    border: 1px solid blue;
    color: black;
}*/